@model IEnumerable<BeautySalon.Contracts.AppointmentVM>
@using BeautySalon.Constants
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form asp-controller="AppointmentManagement" asp-action="Index">
    <div class="form-row mt-2">
        <h5>@Messages.FILTER_APPOINTMENTS_LABEL</h5>
        <div class="input-group">
            <div class="form-inline p-1">
                <label><small>@Messages.USER</small></label>
                @Html.DropDownList("userId", (SelectList)ViewBag.Users, "Select", new {@class = "form-select"})
            </div>
            <div class="form-inline p-1">
                <label><small>@Messages.CATALOG_LABEL</small></label>
                @Html.DropDownList("catalogId", (SelectList)ViewBag.Catalogs, "Select", new {@class = "form-select"})
            </div>
            <div class="form-inline p-1">
                <label><small>@Messages.SERVICE_LABEL</small></label>
                @Html.DropDownList("serviceId", (SelectList)ViewBag.Services, "Select", new {@class = "form-select"})
            </div>
            <div class="form-inline p-1">
                <label><small>@Messages.PAST_FUTURE_APPOINTMENTS_LABEL</small></label>
                @Html.DropDownList("dateRange", new List<SelectListItem>
                {
                new SelectListItem { Text = "Past", Value = "past"},
                new SelectListItem {Text = "Future", Value = "future"}
                }, "Select", new {@class = "form-select"})
            </div>
        </div>
        <div class="input-group">
            <div class="form-group">
                <div class="form-inline datepicker p-1">
                    <label><small>@Messages.APPOINTMENT_DATE_FROM_LABEL</small></label>
                    <input type="date" name="dateFrom" class="form-control" />
                </div>
                <div class="form-inline datepicker p-1">
                    <label><small>@Messages.APPOINTMENT_DATE_TO_LABEL</small></label>
                    <input type="date" name="dateTo" class="form-control" />
                </div>
            </div>
            <div class="form-group p-3">
                <div class="form-inline p-1">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="isApproved" value="true" />
                        <label class="form-check-label">@Messages.APPOINTMENT_APPROVED_LABEL</label>
                    </div>
                </div>
                <div class="form-inline p-1">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="isCanceled" value="true" />
                        <label class="form-check-label">@Messages.APPOINTMENT_CANCELED_LABEL</label>
                    </div>
                </div>
                <div class="p-2 d-flex justify-content-end">
                    <button type="submit" class="btn btn-dark">@Messages.FILTER</button>
                </div>
            </div>
        </div>
    </div>
</form>
@if (TempData["ApprovedMessage"] != null)
{
    <div class="alert alert-success">
        <h5>@TempData["ApprovedMessage"]</h5>
    </div>
}
<div class="text-center">
<h4>@Messages.MANAGE_APPOINTMENTS_LABEL</h4>
</div>
<div class="table-responsive mt-2" style="overflow:auto; max-height:70vh;">
    <table class="table table-hover">
        <thead class="table-dark" style="position: sticky; top:0;">
            <tr>
                <th>@Messages.USER</th>
                <th>@Messages.CATALOGS_LABEL</th>
                <th>@Messages.SERVICES_LABEL</th>
                <th>@Messages.APPOINTMENT_DATE_FROM_LABEL</th>
                <th>@Messages.APPOINTMENT_DATE_TO_LABEL</th>
                <th>@Messages.APPOINTMENT_CANCELED_LABEL</th>
                <th>@Messages.APPROVE</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.User.ToString()</td>
                    <td>@item.Service.Catalog.Title</td>
                    <td>@item.Service.Name</td>
                    <td>@item.StartDateTime.ToShortDateString()</td>
                    <td>@item.FinishDateTime.ToShortDateString()</td>
                    @if (item.Canceled != true)
                    {
                        <td>@Messages.NO</td>
                    }
                    else
                    {
                        <td>@Messages.APPOINTMENT_CANCELED_LABEL</td>
                    }
                    @if (item.Approved != true)
                    {
                        @if (item.Canceled != true)
                        {
                            <td>
                                <button class="btn btn-success" onclick="location.href=' @Url.Action("ApproveAppointment", "AppointmentManagement", new {appointmentId = item.Id})'">
                                    @Messages.APPROVE
                                </button>
                            </td>
                        }
                        else
                        {
                            <td>@Messages.APPOINTMENT_CANCELED_LABEL</td>
                        }
                    }
                    else
                    {
                        <td>@Messages.APPOINTMENT_APPROVED_LABEL</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>