@using BeautySalon.Constants
@model IEnumerable<BeautySalon.Contracts.CatalogVM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container text-center p-2">
<h2 style="text-align:center">@Messages.BEAUTY_CATALOGS_LABEL</h2>
    <div class="row">
    @foreach (var item in Model)
    {
            <div class="col-lg-4 col-md-6 col-sm-12 my-3" onclick="location.href='@Url.Action("Index","Service", new {catalogId=item.Id})'">
                <div class="card">
                    <img src="~/images/beauty.png" title="catalog" alt="catalog" style="width:100%">
                 <div> 
                 <h4><b>@Html.DisplayFor(modelItem =>item.Title)</b></h4>
                 <p class="text-truncate" style="text-overflow:ellipsis;">@Html.DisplayFor(modelItem =>item.Description)</p>
                 <p>@Html.DisplayFor(modelItem =>item.Type)</p>
                 </div>
               </div>
            </div>
    }
    </div>
</div>
