@model BeautySalon.Contracts.CatalogVM
@using BeautySalon.Constants
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string action = Model?.Id != 0 ? "Edit" : "Create";
}

<section class="vh-100 gradient-custom" style="margin-bottom:300px;">
    <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <div class="card-body p-4 p-md-5">
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">@Messages.MANAGE_CATALOGS_LABEL</h3>
                        <br />
                        <form id="edit_service_form" action="@Url.Action(action, "CatalogManagement")" method="post">
                            <div class="mb-4" hidden>
                               
                                    <input type="text" id="catalogId" name="Id" placeholder="Id" class="form-control form-control-lg" value="@Model.Id" /> 
                                    
                            </div>
                            <div class="mb-4">

                                <div class="form-outline">
                                    <input type="text" id="catalogTitle" name="Title" placeholder="Title" class="form-control form-control-lg" value="@Model.Title" />
                                    <label class="form-label" for="Title">@Messages.CATALOG_TITLE_LABEL</label>
                                    <span asp-validation-for="Title" class="text-danger"></span>
                                </div>

                            </div>
                            <div class="mb-4">

                                <div class="form-outline">
                                    <input type="text" id="catalogType" name="Type" placeholder="Type" class="form-control form-control-lg" value="@Model.Type" />
                                    <label class="form-label" for="Type">@Messages.CATALOG_TYPE_LABEL</label>
                                    <span asp-validation-for="Type" class="text-danger"></span>
                                </div>

                            </div>
                            <div class="mb-4">
                                
                                <div class="form-outline">
                                    <textarea id="catalogDescription" name="Description" placeholder="Description" class="form-control form-control-lg" rows="5">@Model.Description</textarea>
                                    <label class="form-label" for="catalogDescription">@Messages.CATALOG_DESCRIPTION_LABEL</label>
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>

                            </div>
                            <div class="mb-4">

                                <div class="form-outline">
                                    <input type="file" id="imgfile" name="imgfile" class="form-control form-control-lg" />
                                    <label class="form-label">@Messages.CATALOG_PHOTO_LABEL</label>
                                </div>

                            </div>
                            <div class="mt-4 pt-2">
                                <input class="btn btn-success" type="submit" value="@Messages.SAVE" />
                                @if(action=="Edit")
                                {
                                    <input class="btn btn-danger" type="submit" asp-controller="CatalogManagement" asp-action="Delete" 
                                    asp-for="Id" asp-route-id="@Model.Id" value="@Messages.DELETE" />
                                    <input class="btn btn-secondary" type="submit" asp-controller="CatalogManagement" asp-action="Index" value="@Messages.BACK" />
                                }
                                else
                                {
                                    <input class="btn btn-secondary" type="submit" asp-controller="CatalogManagement" asp-action="Index" value="@Messages.BACK" />
                                }
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}