@model IEnumerable<BeautySalon.Contracts.CatalogVM>
@using BeautySalon.Constants
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="container text-left p-2">
        <h3 style="text-align:left">@Messages.MANAGE_CATALOGS_LABEL</h3>
    </div>
<div class="row mb-3">
    <div class="col-md-4">
        @using (Html.BeginForm("Search", "CatalogManagement", FormMethod.Get, new { @class = "w-100" }))
        {
            <div class="input-group">
                <input type="text" name="catalogTitle" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                <div class="input-group-append">
                    <button type="submit" class="btn btn-secondary">@Messages.SEARCH_LABEL</button>
                </div>
            </div>
        }
    </div>
    <div class="col-md 8 d-flex justify-content-end mt-1">
        <input type="button" class="btn btn-primary btn-sm" value="New Catalog" onclick="location.href='@Url.Action("Edit","CatalogManagement")'" />
    </div>
</div>
<table class="table table-bordered table-responsive table-hover tabel-sm" cellspaceing="0">
    <caption>@Messages.SELECT_CATALOG_LABEL</caption>
    <tr>
        <th>ID </th>
        <th >Catalog Title </th>
        <th>Catalog Type</th>
        <th>Catalog Description </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr onclick="location.href='@Url.Action("Edit","CatalogManagement", new {catalogId = item.Id})'">
            <td>@item.Id</td>
            <td>@item.Title</td>
            <td>@item.Type</td>
            <td class="text-truncate">@item.Description</td>
        </tr>
    }
</table>
