@model IEnumerable<BeautySalon.Contracts.CatalogVM>
@using BeautySalon.Constants
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row mb-3 mt-3">
    <div class="col-md-6 form-outline">
        <div class="row">
            <div class="col-md-6">
                <form>
                    <h5>@Messages.SEARCH_CATALOGS_LABEL</h5>
                    <div class="input-group">
                        <input type="text" asp-action="Index" asp-controller="CatalogManagement" class="form-control" name="catalogName" placeholder="Search" aria-label="Search" />
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-dark">@Messages.SEARCH_LABEL</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="mb-2 d-flex justify-content-end">
    <a class="btn btn-success" href="@Url.Action("Create", "CatalogManagement")" role="button">@Messages.NEW_CATALOG_LABEL</a>
</div>
<div class="text-center">
    <h4>@Messages.MANAGE_CATALOGS_LABEL</h4>
</div>
<div class="table-responsive" style="overflow:auto; max-height:70vh;">
    <table class="table table-hover">
        <thead class="table-dark" style="position: sticky; top:0;">
            <tr>
                <th>@Messages.CATALOG_TITLE_LABEL </th>
                <th>@Messages.CATALOG_PHOTO_LABEL</th>
                <th>@Messages.CATALOG_TYPE_LABEL</th>
                <th>@Messages.CATALOG_DESCRIPTION_LABEL</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                string source = string.IsNullOrEmpty(item.ImageFileString) ? "/beauty.png" : $"/{item.ImageFileString}";
                <tr>
                    <td onclick="location.href='@Url.Action("Edit","CatalogManagement", new {catalogId = item.Id})'"><i class="fa-regular fa-pen-to-square" style="color:black"></i>@item.Title</td>
                    <td><img src="~/images/@source" style="max-width:30px; max-height:30px;" /></td>
                    <td>@item.Type</td>
                    <td class="text-truncate" style="max-width: 50px; text-overflow:ellipsis;">@item.Description</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<link rel="stylesheet" href="extensions/sticky-header/bootstrap-table-sticky-header.css">
<script src="extensions/sticky-header/bootstrap-table-sticky-header.js"></script>