@model IEnumerable<BeautySalon.Contracts.CatalogVM>
@using BeautySalon.Constants
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="container text-left p-2">
        <h3 style="text-align:left">@Messages.MANAGE_CATALOGS_LABEL</h3>
    </div>
    <div class="row mb-3">
        <div class="col-md-4">
            @using (Html.BeginForm("Search", "CatalogManagement", FormMethod.Get, new { @class = "w-100" }))
            {
                @Html.Hidden("catalogName")
                <div class="input-group">
                    <input type="text" name="catalogTitle" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-secondary">@Messages.SEARCH_LABEL</button>
                    </div>
                </div>
            }
        </div>
        <div class="col-md 8 d-flex justify-content-end mt-1">
            <a class="btn btn-success" href="@Url.Action("Create", "CatalogManagement")" role="button">New Catalog</a>
        </div>
    </div>
    <table class="table table-hover">
        <caption>@Messages.SELECT_CATALOG_LABEL</caption>
        <thead class="table-dark">
        <tr>
            <th>ID </th>
            <th >Catalog Title </th>
            <th>Catalog Type</th>
            <th>Catalog Description </th>
        </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td><a href="@Url.Action("Edit", "CatalogManagement",new{catalogId=item.Id})">@item.Title</a></td>
                <td>@item.Type</td>
                <td class="text-truncate" style="max-width: 50px; text-overflow:ellipsis;">@item.Description</td>
            </tr>
        }
    </table>