@using BeautySalon.Constants
@using System.Security.Claims

@{
    var isAdmin = User.IsInRole(Roles.ADMIN);
}

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a class="menuLinks" asp-controller="Catalog" asp-action="Index">@Messages.CATALOGS_LABEL</a>
    <a class="menuLinks" asp-controller="User" asp-action="Profile">@Messages.MY_PROFILE_LABEL</a>
    <a class="menuLinks" asp-controller="Appointment" asp-action="Index">@Messages.MY_APPOINTMENTS</a>
    @if (isAdmin)
    {
        <a class="menuLinks" asp-controller="ServiceManagement" asp-action="Index">@Messages.MANAGE_SERVICES</a>
        <a class="menuLinks" asp-controller="AppointmentManagement" asp-action="Index">@Messages.MANAGE_APPOINTMENTS_LABEL</a>
        <a class="menuLinks" asp-controller="CatalogManagement" asp-action="Index">@Messages.MANAGE_CATALOGS_LABEL</a>    
    }
</div>
<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>

<script>
    function openNav() {
        if (window.matchMedia("(max-width:450px)").matches) {
            document.getElementById("mySidenav").style.width = "100%";
            document.getElementById("catalogLink").style.textAlign = "center";
        } else {
            document.getElementById("mySidenav").style.width = "250px";
        }
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
</script>
