@using BeautySalon.Constants
@model BeautySalon.Contracts.ForgotPasswordVM;
@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
  <section class="vh-100 gradient-custom" style="margin-bottom:300px;">
     <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <div class="card-body p-4 p-md-5">
                        <h3>@Messages.FORGOT_PASSWORD_LABEL</h3>
                        <br />
                        <form id="forgotpw_form" action="@Url.Action("ForgotPassword", "User")" method="post">
                            <div class="text-success">
                               @ViewBag.Message
                            </div>
                            <div class="form-outline mb-4">
                               <input type="email" name="Email" class="form-control"/>
                            <label class="form-label" >@Messages.EMAIL_LABEL</label>
                            <br />
                               @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                            <div class="mt-4 pt-2">
                               <input type="submit" value="Submit" class="btn btn-success" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
     </div>
  </section>
