@model BeautySalon.Contracts.ResetPasswordVM
@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="vh-100 gradient-custom" style="margin-bottom:300px;">
    <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <div class="card-body p-4 p-md-5">
                        <h3>Reset Password</h3>
                        <br />
                        <form action="@Url.Action("ResetPassword", "User")" method="post">
                            <div class="form-group">
                                <div class="col-md-10">
                                    <label class="form-label" for="form2Example2">New Password</label>
                                    <br />
                                    <input type="password" id="newPassword" name="NewPassword" class="form-control" value="@Model.NewPassword" />
                                    @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10">
                                    <label class="form-label" for="form2Example2">Confirm Password</label>
                                    <br />
                                    <input type="password" id="confirmNewPassword" name="ConfirmPassword" class="form-control" value="@Model.ConfirmPassword" />
                                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.HiddenFor(a=>a.ResetCode)
                            </div>
                            <br />
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Create" class="btn btn-success" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
