@using BeautySalon.Constants
@model BeautySalon.Contracts.ServiceVM
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string action = Model.Id != 0 ? "Edit" : "Create";
}
<section class="vh-100 gradient-custom" style="margin-bottom:300px;">
    <form id="edit_service_form" action="@Url.Action(action, "ServiceManagement")" method="post">
        <div class="row mb-3 mt-3">
            @if (Model.Id != 0)
            {
                <div class="col-md-2 ms-auto">
                    <input class="btn btn-danger" type="submit" value="Delete" formaction="/servicemanagement/delete/@Model.Id" onclick="return confirm ('Are you sure to delete record?');" />
                    <input class="btn btn-success" type="submit" value="Save" />
                </div>
                <h3>@Messages.MANAGE_SERVICES_EDIT</h3>
            }
            else
            {
                <div class="col-md-1 ms-auto">
                    <input class="btn btn-success" type="submit" value="Save" />
                </div>
                <h3>@Messages.MANAGE_SERVICES_CREATE</h3>
            }
        </div>
		<div class="row justify-content-center align-items-center h-100">
            <div class="card shadow-2-strong card-registration mt-4" style="border-radius: 15px;">
                <div class="card-body p-4 p-md-5">
                    <div class="mb-4">

                        <div class="form-outline">
                            <input type="text" id="serviceName" name="Name" placeholder="Name" class="form-control form-control-lg" value="@Model.Name" />
                            <label class="form-label" for="Name">@Messages.MANAGE_SERVICES_NAME</label>
                            <br />
                            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                        </div>

                    </div>
                    <div class="mb-4">

                        <div class="form-outline">
                            <input type="text" id="Price" name="Price" placeholder="Last name" class="form-control form-control-lg" value="@Model.Price" />
                            <label class="form-label" for="Price">@Messages.MANAGE_SERVICES_PRICE</label>
                            <br />
                            @Html.ValidationMessageFor(m => m.Price, "", new { @class = "text-danger" })
                        </div>

                    </div>
                    <div class="mb-4 d-flex align-items-center">

                        <div class="form-outline datepicker w-100">
                            <input type="text" id="duration" name="Duration" class="form-control form-control-lg" value="@Model.Duration" />
                            <label for="Duration" class="form-label">@Messages.MANAGE_SERVICES_DURATION</label>
                            <br />
                            @Html.ValidationMessageFor(m => m.Duration, "", new { @class = "text-danger" })
                        </div>

                    </div>
                    <div class="mb-4">

                        <div class="form-outline">
                            @Html.DropDownList("Catalogs",(IEnumerable<SelectListItem>)ViewBag.Catalogs, "Please select",new { @class = "form-control"})
                            <label for="Duration" class="form-label">@Messages.MANAGE_SERVICES_CATALOG</label>
                        </div>

                    </div>
                    <div class="mb-4 pb-2">

                        <div class="form-outline">
                            <input type="text" id="description" name="Description" class="form-control form-control-lg" value="@Model.Description" />
                            <label class="form-label" for="description">@Messages.MANAGE_SERVICES_DECRIPTION</label>
                            <br />
                            @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                        </div>

                    </div>
                </div>
			</div>
		</div>
	</form>      
</section>