@using BeautySalon.Constants
@model BeautySalon.Contracts.CatalogServiceVM

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container text-center p-2">
    <h2 style="text-align:center">@Model.Title</h2>
    <h3 style="text-align:center">@Messages.SERVICES_LABEL</h3>
 </div>
        @using (Html.BeginForm("Index", "Service", FormMethod.Get))
        {
            @Html.Hidden("catalogId") 
            @Html.TextBox("name")<input type="submit" value="Search"/>
        }
<div class="column">
    @foreach(var item in Model.Services)
        {
           <div class="card mb-3 mx-auto" style="max-width: 600px">
                    <img src="~/images/service.png" class="card-img-top" alt="card-img-top" style="max-height:100px">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem =>item.Name) - @Html.DisplayFor(modelItem =>item.Price)$</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem=>item.Duration) min</p>
                    <p class="card-text"><small>@Html.DisplayFor(modelItem =>item.Description)</small></p>
                </div>
            </div>
        }
</div>
